@import "mainStyle";
@import "botones";
@import "footer";
@import "header";

/* FOTO RECIEVER CATALOGO*/
.landingCatalogo{
    position: relative;
    display: flex;
    justify-content: center;
    top: 100px;
    margin-bottom: 150px;
    font-size: 1rem;
}

    .fotoInfoCatalogo{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .fotoInfoCatalogo img{
    width: 90%;
    }

    .fotoInfoCatalogo a{
        text-decoration: none;
        color: #80B8B4 ;
    }

    .textoInfoCatalogo{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

.catalogo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 100px ;
}
    .menuCatalogo{
        border: 1.5px solid #000000;
        border-radius: 10px;
        height:fit-content;
        width: 20vw;
        padding: 10px 10px 20px 15px;
    }
    .lentesCatalogo{
        width:70vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 20px;
    }
    .lentesCatalogo img{
        height: 250px;
        border: 1.5px solid #000000;
        border-radius: 10px;
        margin-bottom: 30px;
    }
    .botonesCatalogo{
        display: flex;
        padding: 0 20% 0 20%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .boton01 {
        height: 30px;
    }

    @media(max-width: 480px){
        .botonesCatalogo{
            display: flex;
            padding: 0 0 0 0;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;}

            .boton01 {
                width: 110px;
                height: 20px;
                font-size: 1rem;
                }
            }
        
